@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-body);
    color: var(--text-main);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-heading);
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: var(--color-primary);
    transition: var(--transition);

    &:hover {
        color: var(--color-secondary);
    }
}

section {
    padding: 100px 0;

    @include mobile {
        padding: 60px 0;
    }
}

.container {
    @include container;
}